<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- include title.html -%}
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <header>
    <a href="{{ site.url | relative_url }}">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </a>
  </header>
  <main>
    <hr>
    {{content}}
  </main>
  <footer>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/feed.xml">Subscribe via RSS</a>
      </li>
      <li>
        <a href="https://x.com/trashpanda_dev">Twitter</a>
      </li>
    </ul>
    <p>&copy; {{ site.time | date: "%Y" }}</p>
  </footer>
</body>
</html>